.document {
    display: grid;
    grid-template-rows: 1fr 2fr 1 fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px,auto);
    justify-items: center;
    align-items: center
}

.logo {
    background: url(/Users/thomasruffino/sei/projects/firstProject/Seinfeld_English_logo.png);
    width: 250px;
    height: 100px;
    background-size: 100%;
    //why did this background size make the image appear?
}

.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: oblique;
}

.TeamOne {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: red;
    
}

.TeamTwo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.Timer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 450;
    color: black;
    text-align: center;
    
}

.scoreone {
    font-size: 45px;
    font-weight: 800;
    color: red;
    text-align: center;
}

.scoretwo {
    font-size: 45px;
    font-weight: 800;
    color: red;
    text-align: center;
}
